.game-board {
  display: grid;
  grid-template-columns: 20vmin 20vmin 20vmin;
  grid-template-rows:  20vmin 20vmin 20vmin;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 20vmin;
}

.game-board:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.box {
  background-color: #ffffff;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
}
